<section id="home-menu">
<ul>
  <li><a href="{{mainsite}}">Home</a></li>
  <li><a href="{{base_url}}/ingest">Data Ingest</a></li>
  <li><a href="{{base_url}}/export">Data Export</a></li>
  <li><a href="{{base_url}}/devices">Manage Devices</a></li>
</ul>
</section>