<section id="flow-ingest" data-action="{{action}}">
<fieldset id="file-drop">
<legend>Drag Flow Data Files Here</legend>
</fieldset>
<div class="input"><input type="file" id="flow-files" name="flow-files" accept=".zip,application/zip" multiple></div>
</section>

<section id="ingest-progress"></section>