<section id="data-ingest" data-action="{{action}}">
{{!-- <div class="field"><label>Project Tags/Labels:</label> <input type="text"></div> --}}
<fieldset id="file-drop">
<legend>Drag Data Files Here</legend>
</fieldset>
<div class="field"><input type="file" id="data-files" name="data-files" accept=".zip,application/zip,.csv,text/csv" multiple></div>
</section>

<section id="ingest-progress"></section>
