<form enctype="application/x-www-form-urlencoded" action="{{action}}" method="post" id="ingest-form" autocomplete="off">
<fieldset id="file-drop" class="documents" data-endpoint="{{endpoint}}">
<legend>Flow Data</legend>
<input type="file" value="Upload" id="file_upload" name="file_upload" accept=".zip,application/zip">
</fieldset>
</form>