#summary {
  max-width: 600px;
}

#data-summary table th, #data-summary table td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#data-summary table thead th {
  text-align: right;
  padding-left: 2rem;
}

#data-summary table tbody th {
  text-align: left;
}

#data-summary table tbody td {
  text-align: right;
  padding-left: 2rem;
}

#data-summary table tbody td:last-child {
  text-align: left;
  padding-left: 1rem;
}

#visual-summary {
  margin-top: 3rem;
}

#visual-summary #month-controls {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

#visual-summary #map {
  box-sizing: border-box;
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
  border: 0.5rem solid var(--lightgrey);
}

.mapboxgl-popup-content table {
  border-collapse: collapse;
}

.mapboxgl-popup-content table caption{
  line-height: 1.2;
  font-size: smaller;
}

.mapboxgl-popup-content table th {
  font-weight: normal;
  font-variant-caps: all-small-caps;
  vertical-align: baseline;
}

.mapboxgl-popup-content table td {
  text-align: right;
  padding-left: 0.25em;
  vertical-align: baseline;
}

.mapboxgl-popup-content table td:last-child {
  text-align: left;
  opacity: 0.5;
}

.mapboxgl-popup-content table td[colspan] {
  text-align: right;
  opacity: 0.62;
  font-style: italic;
}

#export {
  margin-top: 5rem;
  max-width: 600px;
}

#export fieldset {
  margin-bottom: 1.5rem;
}

#export #format-options ul {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#export #format-options ul li {
  margin: 0;
  padding: 0;
}

#export #date-range > div {
  display: inline-block;
  padding-right: 1.5rem;
}

#export #project-tags ul {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-type: none;
}

#export #project-tags ul li {
  margin: 0;
  padding: 0;
}

#export .actions {
  text-align: right;
}
